{% extends "base_old.html" %}
<title>Carrinho Checkout</title>
{% block content %}
<div class='row text-center'>
    {% if not request.user.is_authenticated %}
        <div class='col-12 col-md-6'>
            <p class='lead'>Você precisa estar logado para fazer o checkout.</p>
            <p><a href="{% url 'login' %}">Clique aqui para fazer login</a></p>
        </div>
    {% if not billing_profile %}
        <div class='col-12 col-md-6'>
            {% csrf_token %} 
            <p class='lead'>Login</p>
            {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
        </div>
        <div class='col-12 col-md-6'> 
            <p>Continuar como Convidado</p>
            {% url "guest_register" as guest_register_url %}
            {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
        </div>
    {% else %}
        {% if not object.shipping_address %}
            <div class='row'>
                <div class='col-12'>
                    <p class='lead'>Endereço de envio</p>
                    <hr/>
                </div>
                <div class='col-6'>
                    {% url "checkout_address_create" as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
                </div>
                <div class='col-6'>
                    {% url 'checkout_address_reuse' as checkout_address_reuse %}
                    {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
                </div>
            </div>
        {% elif not object.billing_address %}
            <div class='row'>
                <div class='col-12'>
                    <p class='lead'>Endereço de Cobrança</p>
                    <hr/>
                </div>
                <div class='col-6'> 
                    {% url "checkout_address_create" as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
                </div>
                <div class='col-6'>
                    {% url 'checkout_address_reuse' as checkout_address_reuse %}
                    {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_reuse %}
                </div>
            </div>
        {% else %}
            <h1>Finalizar Checkout</h1>
            <p>Items do Carrinho: {% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <p>Endereço de Envio: {{ object.shipping_address.get_address }}</p>
            <p>Endereço de Cobrança: {{ object.billing_address.get_address }}</p>
            <p>Total do Carrinho: {{ object.cart.total }}</p>
            <div>
                <label>
                    <input type="radio" name="delivery_option" value="yes" checked>
                    Desejo entrega (Custo: {{ object.shipping_total }})
                </label>
                <label>
                    <input type="radio" name="delivery_option" value="no">
                    Não desejo entrega
                </label>
            </div>
            <p>Total do Frete: {{ object.shipping_total }}</p>
            <p>Total do Pedido: {{ object.total }}</p>
            <form id="checkout-form" class='form' method='POST'>
                {% csrf_token %}
                <button type='submit' id="checkout-button">Checkout</button>
            </form>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

