{% extends "base_old.html" %}
{% block content %}
{% if not request.user.is_authenticated %}
<div class='col-12 col-md-6'>
    <p class='lead'>Você precisa estar logado para fazer o compras.</p>
    {% csrf_token %} 
            <p class='lead'>Login</p>
            {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
        </div>
        <div class='col-12 col-md-6'> 
            <p>Continuar como Convidado</p>
            {% url "guest_register" as guest_register_url %}
            {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
        </div>
        {% endif %}
<h1>Carrinho</h1>
  {% if cart.products.exists %}
  <table class="table cart-table">
    <thead>
      <tr>
        <th>FromPara</th>
        <th>Nome</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody class="cart-body">
      {% for product in cart.products.all %}
      <tr class="cart-product">
        <th scope="row">{{ forloop.counter }}</th>
        <td>
          <a href='{{ product.get_absolute_url }}'>{{ product.title }}</a>
          {% include 'carts/snippets/remove-product.html' with product_id=product.id %}
        </td>
        <td>{{ product.price }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="2"></td>
        <td><b>Subtotal</b> $<span class="cart-subtotal"> {{ cart.subtotal }} </span> </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td><b>Total</b> $<span class="cart-total"> {{ cart.total }} </span> </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td><a class='btn btn-lg btn-success' href='{% url "cart:checkout" %}'>Conferir compra</a></td>
      </tr>
    </tbody>
  </table>
  <div class="cart-item-remove-form" class='cart-item-remove-form' style='display:none'>
    {% include 'carts/snippets/remove-product.html' %}
  </div>
  {% else %}
    <p class='lead'>Carrinho vazio</p>
  {% endif %}
{% endblock %}