{% load static %}
{% url 'home' as home_url %}
<title>FAQ's</title>
{% block base_head %}
  <link href="{% static 'css/main3.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
<!-- Adicione seu CSS aqui -->
<style>
  .accordion button {
    width: 100%;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  button[aria-expanded="true"] + .accordion-content {
    display: block;
  }

  .back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
  }
</style>

<body>
  <!-- Seta para voltar para a página inicial -->
  <div class="back-arrow">
    <a href="{{ home_url }}" class="text-link no-underline" style="color: black;">
      &#8592; <!-- Código HTML para a seta esquerda -->
    </a>
  </div>

  <section class="container">
    <h2>Perguntas Frequentes:</h2>
    <section class="accordion">
      <section class="accordion-item">
        <button id="accordion-button-1" aria-expanded="false">
          <span class="accordion-title">O que é FromPara?</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <section class="accordion-content">
          <p>FromPara é uma iniciativa de divulgação e formentação da cultura, historia e pontos turisticos paraenses.</p>
        </section>
      </section>
      <section class="accordion-item">
        <button id="accordion-button-2" aria-expanded="false">
          <span class="accordion-title">O que são os produtos?</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <section class="accordion-content">
          <p>Produtos oferecidos vem de parcerias, ou de desenvolvimento da propria FromPara.</p>
        </section>
      </section>
      <section class="accordion-item">
        <button id="accordion-button-3" aria-expanded="false">
          <span class="accordion-title">Como entrar em contato com FromPara</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <section class="accordion-content">
          <p>Todos os nossos canais oficiais de contatos estão na pagina, de contatos.</p>
        </section>
      </section>
      <section class="accordion-item">
        <button id="accordion-button-4" aria-expanded="false">
          <span class="accordion-title">Sugestões e Parcerias</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <section class="accordion-content">
          <p>Entrar em contato pelas nossos contatos oficiais.</p>
        </section>
      </section>
      <section class="accordion-item">
        <button id="accordion-button-5" aria-expanded="false">
          <span class="accordion-title">Problema com a entrega</span>
          <span class="icon" aria-hidden="true"></span>
        </button>
        <section class="accordion-content">
          <p>Por Favor, entrar em contato pelos contatos oficiais, com id de pedido e nota fiscal.</p>
        </section>
      </section>
    </section>
  </section>

  <!-- Adicione seu JavaScript aqui -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const items = document.querySelectorAll('.accordion button');
      
      function toggleAccordion() {
        const itemToggle = this.getAttribute('aria-expanded');
        
        for (let i = 0; i < items.length; i++) {
          items[i].setAttribute('aria-expanded', 'false');
        }
        
        if (itemToggle == 'false') {
          this.setAttribute('aria-expanded', 'true');
        }
      }

      items.forEach(item => item.addEventListener('click', toggleAccordion));
    });
  </script>
</body>
{% endblock %}
